@import "oo";
@import "variable";
@import "~normalize.css";

html, body {
  //background: lightgray;
  font-size: 16px;
}

html {
  font-family: Arial, "Hiragino Sans GB", "Microsoft YaHei", SimSun, Helvetica, Tahoma, "Arial sans-serif", sans-serif;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  //padding-bottom: 4px;
  //border-bottom: .1em solid $primary-color;
  color: inherit;
  @extend .ani2;

  &:hover {
    color: $primary-color;
  }
}

[v-cloak] {
  display: none;
}
