//$color-main: #975A58;
$color-main: #60a6e9;
$color-dim: #507594;
$deg: 12.72deg;
$op: .4;

$width-side: 4rem;
$width-top: 3rem;

$font-effect-en: Krungthep;
$font-effect-zh: STFangSong, Helvetica, Arial, Vernada, Tahoma, STXihei, "Microsoft YaHei", "Songti SC", SimSun, Heiti, sans-serif;
$font-code: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-read-zh: 'Avenir', Helvetica, Arial, sans-serif;
@font-face {
  font-family: songke-title;
  src: url(/static/font/songke-title.ttf);
}

$font-xs: 1.7rem;
$font-sm: 1.9rem;
$font-md: 2.1rem;
$font-lg: 3.6rem;

%flex {
    display: flex;
}

%flex-end {
    justify-content: flex-end;
}

$width-small:  576px;
$width-medium: 768px;
$width-large:  1200px;
@mixin responsive($width) {
  @if $width == pc {
    @media only screen and (max-width: $width-large) { @content; }
  }
  @else if $width == pad {
    @media only screen and (max-width: $width-medium) { @content; }
  }
  @else if $width == phone {
    @media only screen and (max-width: $width-small) { @content; }
  }
}
