@import 'config.scss';

// .st0{fill:#FFFFFF;}
// .st1, .st2{fill:#975A58;}
.st2, .st3{opacity:0.5;enable-background:new;}

@mixin ani($color, $id) {
  @keyframes dash-#{$id} {
    0% {
      stroke: black;
      stroke-dashoffset: 1300;
      fill: transparent;
    }
    80% {
      stroke: $color;
      stroke-dashoffset: 0;
      fill: transparent;
    }
    100% {
      stroke: $color;
      stroke-dashoffset: 0;
      fill:$color;
    }
  }
  animation: dash-#{$id} 3s ease-in forwards;
}


svg {
  stroke-dasharray: 1300;
  stroke-dashoffset: 1300;
  @include ani($color-main, 1);
}

.st0 {
  @include ani(white, 0);
}
